<table class="user-profile-table">
    <tr>
        <th class="user-profile-header">First Name</th>
        <td class="user-profile-header">{{ userdetails.firstName }}</td>
    </tr>
    <tr>
        <th class="user-profile-header">Last Name</th>
        <td class="user-profile-header">{{ userdetails.lastName }}</td>
    </tr>
    <tr>
        <th class="user-profile-header">Email</th>
        <td class="user-profile-header">{{ userdetails.emailId }}</td>
    </tr>
    <tr>
        <th class="user-profile-header">Phone Number</th>
        <td class="user-profile-header">{{ userdetails.phoneNo }}</td>
    </tr>
    <tr>
        <th class="user-profile-header">Address</th>
        <td class="user-profile-header">{{ userdetails.address }}</td>
    </tr>
    <tr>
        <th class="user-profile-header">Department</th>
        <td class="user-profile-header">{{ userdetails.departmentName }}</td>
    </tr>
    <tr>
        <th class="user-profile-header">Role</th>
        <td class="user-profile-header">{{ userdetails.role.roleName}}</td>
    </tr>
</table>
