<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a routerLink="/admin/admin-view-profile" class="list-group-item list-group-item-action py-2 ripple"
                    aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Profile</span>
                </a>

                <a routerLink="/admin/update-admin" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-users fa-fw me-3"></i><span>Update</span>
                </a>

                <a routerLink="/admin/employee-list" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-user-friends fa-fw me-3"></i><span>View Users List</span>
                </a>
                
                <a routerLink="/admin/manage-employees" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-cogs fa-fw me-3"></i><span>Manage Users</span>
                </a>

            </div>
        </div>
    </nav>

</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
    <div class="container pt-4"></div>
</main>
