<h2>Admin list</h2>

<table class="table table-striped">
    <thead>
        <tr>

            <th>First name</th>
            <th>Last name</th>
            <th>Email ID</th>
            <th>Phone No</th>
            <th>Address</th>
            <th>Department name</th>
        </tr>
    </thead>
    <tbody *ngFor="let user of users">
        <tr>

            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.emailId}}</td>
            <td>{{user.phoneNo}}</td>
            <td>{{user.address}}</td>
            <td>{{user.departmentName}}</td>


        </tr>
    </tbody>

</table>

