<table class="user-profile-table">
    <tr>
        <th class="user-profile-header">First Name</th>
        <td class="user-profile-header">{{ userdetails.firstName }}</td>
    </tr>
    <tr>
        <th class="user-profile-header">Last Name</th>
        <td class="user-profile-header">{{ userdetails.lastName }}</td>
    </tr>
    <tr>
        <th class="user-profile-header">Email</th>
        <td class="user-profile-header">{{ userdetails.emailId }}</td>
    </tr>
    <tr>
        <th class="user-profile-header">Phone Number</th>
        <td class="user-profile-header">{{ userdetails.phoneNo }}</td>
    </tr>
    <tr>
        <th class="user-profile-header">Address</th>
        <td class="user-profile-header">{{ userdetails.address }}</td>
    </tr>
    <tr>
        <th class="user-profile-header">Department</th>
        <td class="user-profile-header">{{ userdetails.departmentName }}</td>
    </tr>
    <tr>
        <th class="user-profile-header">Role</th>
        <td class="user-profile-header">{{ userdetails.role.roleName }}</td>
    </tr>
</table>

<!-- <section >
    <div >   

        <div class="row">
         
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{userdetails.firstName}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">example@example.com</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(097) 234-5678</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(098) 765-4321</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                            </div>
                        </div>
                    </div>
                </div>                
                  
            </div>
        </div>
    </div>
</section> -->