bode {
    margin: 0px;
    padding: 0px;
}



.container {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQQ31hqbd9WQcTf2WyPbrMyZ2TisijpQE5BQ&usqp=CAU');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;


}

/* .home_container {
    color: black;
    padding: 10px;

} */

.middle_div:hover {
    cursor: pointer;
    color:white;
}

.middle_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    color: black;
}

.page_div {
    margin-left: 400px;

}