bode {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(45deg, #00f, #f00);
    /* Replace with your desired background */
    background-size: 200% 200%;
    /* Increase the size to create a smooth animation */

    /* Animation settings */
    animation: gradientAnimation 5s ease infinite;
    /* Adjust the duration and other animation properties as needed */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
        /* Starting position of the background gradient */
    }

    100% {
        background-position: 100% 50%;
        /* Ending position of the background gradient */
    }
}



.container {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQQ31hqbd9WQcTf2WyPbrMyZ2TisijpQE5BQ&usqp=CAU');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;


}

/* .home_container {
    color: black;
    padding: 10px;

} */

.middle_div:hover {
    cursor: pointer;
    color: blue;
}

.middle_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    color: black;
}

.page_div {
    margin-left: 400px;

}

.footer_comp {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    margin-top: 300px;
    background-color: lightblue;
    padding-top: 15px;
    padding-bottom: 15px;
    animation-timing-function: linear;
    animation-direction: reverse;
}

.footer_comp p {

    margin: 0px;
    padding: 0px;

}