<div class="container">
    <div>
        <h1 style="color: black;"> ADMINISTRATION</h1>

    </div>

    <div class="middle_div">
        <h3>WELCOME TO THE HOME PAGE </h3>
    </div>
    <!-- <div class="page_div">
        <p> This page is maintained by the administration group.</p>
    </div> -->

    <br>
    <footer>
        <div class="footer_comp">
            <p>About Us </p>
            <p>Services</p>
            <p>Contact Us</p>
            <p>Email Us </p>
            <p>Help Desk </p>


        </div>
    </footer>
</div>