<h2>Reset Password</h2>
<form (ngSubmit)="submit()" class="login-form">
    <div>
        <label for="emailId">Email ID:</label>
        <input type="text" id="emailId"  [(ngModel)]="emailId" name="emailId" required>
    </div>
    <div>
        <label for="password">New Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <div>
        <label for="password1"> Confirm Password:</label>
        <input type="password" id="password1" [(ngModel)]="password1" name="password1" required>
    </div>
    <button type="submit">Reset</button>

</form>
